# Problem Data Set 2

Question 1
Consider the following Python module:

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [3]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

In [ ]:
Here, the local variables of function "b()" as been called three times, so the value of a is change from zero to 2+2+2 = 6.

Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [10]:
def file_length(file_name):
    try:
        with open(file_name) as file: 
            contents = file.read()
            file.close()
            length = len(contents)
            return length
    except FileNotFoundError:
        print("The file '{}' could not be found.".format(file_name))

In [11]:
file_length("length.txt")

123

In [12]:
file_length("length_1.txt")

The file 'length_1.txt' could not be found.

Question 3

Write a class named Marsupial that can be used as shown below:
 m = Marsupial()
 m.put_in_pouch('doll')
 m.put_in_pouch('firetruck')
 m.put_in_pouch('kitten')
 m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [13]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [14]:
m = Marsupial() 
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten') 
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [15]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, xx, yy):
        self.x += xx
        self.y += yy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)

In [16]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [17]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [19]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [20]:
collatz(1)

1

In [21]:
collatz(10)

10
5
16
8
4
2
1

Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [22]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [24]:
binary(0)

0

In [25]:
binary(1)

1

In [26]:
binary(3)

11

In [27]:
binary(9)

1001

Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [42]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1

    def handle_data(self, data):
        if self.indentation >= 0:
            heading = ' ' * self.indentation + data.strip()
            self.headings.append(heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

In [43]:
with open('w3c.html') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me






W3C Mission

 Principles

Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [5]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser


class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])


def webdir(url, depth, indent):
    if depth == 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
        if 'text/html' in response.getheader('Content-Type'):
            content = response.read().decode()
            parser = LinkParser()
            parser.feed(content)
            links = parser.links
            for link in links:
                absolute_url = urljoin(url, link)
                webdir(absolute_url, depth - 1, indent + 1)
    except:
        return


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [4]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

Write SQL queries on the below database table that return:

In [1]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('data.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS rain_data (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO rain_data VALUES (?,?,?,?,?)', data)

# Commit the changes and close the connection

a) All the temperature data:

In [3]:
cursor.execute('SELECT Temperature FROM rain_data;')
cursor.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,),
 (24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition:

In [4]:
cursor.execute('SELECT DISTINCT City FROM rain_data;')
cursor.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India:

In [6]:
cursor.execute('SELECT * FROM rain_data WHERE Country = "India";')
cursor.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records:

In [7]:
cursor.execute('SELECT * FROM rain_data WHERE Season = "Fall";')
cursor.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:

In [8]:
cursor.execute('SELECT City, Country, Season FROM rain_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400;')
cursor.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:

In [9]:
cursor.execute('SELECT City, Country FROM rain_data WHERE Season = "Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC;')
cursor.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo:

In [10]:
cursor.execute('SELECT SUM(Rainfall) AS Total_Rainfall FROM rain_data WHERE City = "Cairo";')
cursor.fetchall()

[(55.2,)]

h) The total rainfall for each season:

In [11]:
cursor.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM rain_data GROUP BY Season;')
cursor.fetchall()

[('Fall', 1138.0),
 ('Spring', 384.59999999999997),
 ('Summer', 3413.0),
 ('Winter', 460.2)]

Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words = [word.upper() for word in words]
lowercase_words = [word.lower() for word in words]
word_lengths = [len(word) for word in words]
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
long_words = [word for word in words if len(word) >= 4]

print(uppercase_words)
print(lowercase_words)
print(word_lengths)
print(word_info)
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']